.landing-page {
    background-color: cadetblue;
}
.footer{
    background-color: dimgrey;
}
.tech{
    background-color: steelblue;
}
.navigation li{
    display: flex;
    text-decoration: none;
   display: inline;
   margin: 10px;
}
