.landing-page {
    background-color: cadetblue;
}
.footer{
    background-color: dimgrey;
}
.tech{
    background-color: steelblue;
}
.navigation li{
    text-decoration: wavy;
   display: flex;
   flex-direction: row-reverse;
   list-style: none;
   display: inline;
   margin: 5px;
   padding-top: 0.5vh;
}
